parameters:
	level: 8

	paths:
		- src/

	bootstrapFiles:
		- tests/bootstrap.php

	ignoreErrors:
		- identifier: missingType.iterableValue
		- '#Call to an undefined method DOMDocument\|SimpleXMLElement::asXML\(\)#'
